.second-block{
    padding-top:65px;  
}

.about-me__title {
    margin-bottom: 26px;
}

.about-me__slider {
    width: 320px;
    height: 185px;
    margin: 0 auto;
    position: relative;
    padding: 40px 40px 40px 30px;  
  
}

.after-course__wrapper,
.requirements__wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.after-course__wrapper {
    margin: 60px 0 70px;
}

.requirements__wrapper {
    margin-top: 40px;
}

.after-course__content,
.after-course-photo__inner {
    flex-basis: 50%;
}

.requirements__slider {
    width: 482px;
    height: 298px;
    padding: 56px 40px 56px 50px;     
}

.slider {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: url(../images/arrow.svg);
        left: -62px;
        top: 65px;
        height: 50px;
        width: 30px;
        cursor: pointer;        
    }
    
    &::after {
        content: '';
        position: absolute;
        right: -62px;
        top: 65px;
        font-size: 50px;
        color: #d1d2d3;
        cursor: pointer;
    }  
}

.requirements-slider__text {
    position: relative;

    &::after {
        content: ' [001] ';
        position: absolute;
        left: -36px;
        top: 10px;
        background-color: #ef7330;
        font-size: 10px;
        line-height: 1.3;
        font-weight: bold;
        color: #fff;
        transform: rotate(270deg);  
    }  
}  

.slider__text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: medium;
}

.after-course__title,
.about-me__title,
.requirements__title {
    font-size: 35.43px;
    font-weight: bold;
    line-height: 1.364;   
}

.after-course__title {
    margin: 56px 0 30px;
}

.black-back {
    background: #000;
    color: #fff;
}

.after-course__text {
    font-size: 16px;
    line-height: 1.5;
    padding-left: 74px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 56px;
        height: 8px;
        background-color: #000;
    }
}


