.header__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.info_goit_ua {
    font-size: 12px;
    font-family: "Acrom";
    color: rgb(0, 0, 0);
    line-height: 2.304;
    position: absolute;
    left: 813.937px;
    top: 70.344px;
    width: 65px;
    height: 10px;
    z-index: 207;
  }
  