.header__inner {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;    
}

.contacts {
    display: flex;
    align-items: center;

    &_logo {
        font-size: 12px;
    }
}

.contacts__mail,
.phones-wrapper__item {
    text-decoration: none;
    font-size: 10px;
    font-family: "Acrom", sans-serif;
    font-weight: bold;
    color: #000;
}

.contacts__mail {
    vertical-align: middle;
    padding-right: 22px;
}

.contacts {
    display: flex;
    justify-content: center;
}

.phones-wrapper__item,
.logo {
    display: block;
}




